# EDA216 - Projekt


## Preparation

Load the Jupyter SQL extension, create a new empty database and load database by evaluating the next cells:

In [1]:
%load_ext sql

Ladda in och skapa en test-databas med påhittade värden

In [2]:
%%bash
sqlite3 src/notebook.db < src/cookie.sql

In [3]:
%%bash
sqlite3 src/notebook.db < src/orders.sql

In [4]:
%%bash
sqlite3 src/notebook.db < src/pallets.sql

In [7]:
%%bash
sqlite3 src/notebook.db < src/ingredients.sql

In [8]:
%sql sqlite:///src/notebook.db

u'Connected: None@src/notebook.db'

In [9]:
%sql PRAGMA foreign_keys=ON;

Done.

[]

Raderar databasen. Använd ej

In [6]:
%%bash
rm -f src/notebook.db

# Sql commands - Simple

In [10]:
%%sql
-- See all customers --
SELECT * 
FROM Customer

Done.

[(u'Finkakor AB', u'Helsingborg', u'Sweden'),
 (u'Sm\xe5br\xf6d AB', u'Malm\xf6', u'Sweden'),
 (u'Kaffebr\xf6d AB', u'Landskrona', u'Sweden'),
 (u'Bjudkakor AB', u'Ystad', u'Sweden'),
 (u'Kalaskakor AB', u'Trelleborg', u'Sweden'),
 (u'Partykakor AB', u'Kristianstad', u'Sweden'),
 (u'Sk\xe5nekakor AB', u'Perstorp', u'Sweden')]

In [11]:
%%sql
-- See all cookies --
SELECT *
FROM Cookie

Done.

[(u'Nut ring',),
 (u'Nut cookie',),
 (u'Amneris',),
 (u'Tango',),
 (u'Almond delight',),
 (u'Berliner',)]

In [12]:
%%sql
-- See all orders --
SELEcT *
FROM Order_Bill

Done.

[(100, u'Kalaskakor AB', u'2017-04-22'),
 (101, u'Bjudkakor AB', u'2017-05-24'),
 (102, u'Bjudkakor AB', u'2017-04-24'),
 (103, u'Kalaskakor AB', u'2017-03-30'),
 (104, u'Bjudkakor AB', u'2017-04-01'),
 (105, u'Partykakor AB', u'2017-04-24')]

# FOR CONNECTING PALLETS TO AN ORDER

In [13]:
%%sql
-- Adding a new order --
INSERT INTO Order_Bill (order_id, /* Order_id must be omitted later */ customer_name, delivery_date)
VALUES (1001, /* 1001  must be omitted later */ "Partykakor AB", "2017-08-12");

Done.

[]

In [14]:
%%sql
INSERT INTO OrderItems (order_id, cookie_name, nbrPallet)
VALUES (1001, /* Must be omitted later */ "Berliner", 8),
(1001, /* Must be omitted later */ "Nut ring", 4);

2 rows affected.

[]

In [15]:
%%sql
-- Show Orders order items for a specific order --
Select cookie_name, nbrPallet
FROM Order_Bill INNER JOIN OrderItems ON Order_Bill.order_id = OrderItems.order_id
WHERE Order_Bill.order_id = 1001

Done.

[(u'Berliner', 8), (u'Nut ring', 4)]

In [63]:
%%sql
-- Show all pallets --
SELECT * 
FROM Pallet 
--WHERE order_id IS NULL AND is_blocked IS NOT 1 --uncomment for only unconnected pallets 
ORDER BY order_id DESC

Done.

[(47, u'Berliner', 103, u'2017-02-24', u'Freezer', 1),
 (1, u'Nut ring', None, u'2017-05-24', u'Freezer', 0),
 (2, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (3, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (4, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (5, u'Nut ring', None, u'2017-01-24', u'Freezer', 0),
 (6, u'Nut ring', None, u'2017-01-21', u'Freezer', 0),
 (7, u'Nut ring', None, u'2017-01-21', u'Freezer', 0),
 (8, u'Nut ring', None, u'2017-01-21', u'Freezer', 0),
 (9, u'Nut ring', None, u'2016-12-21', u'Freezer', 0),
 (10, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (11, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (12, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (13, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (14, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (15, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (16, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (17, u'Nut cookie', None, u'2017-01-22', u'Freezer', 0),
 (18, u'Nut cookie', None, u'2017-01-22', u'Freezer', 0),
 (19, u'Nut cookie', None, u'2017-01-24', u'Freezer', 0),
 (20, u'Nut cookie', None, u'2017-01-21', u'Freezer', 0),
 (21, u'Nut cookie', None, u'2017-01-21', u'Freezer', 0),
 (22, u'Nut cookie', None, u'2017-01-21', u'Freezer', 0),
 (23, u'Nut cookie', None, u'2016-12-21', u'Freezer', 0),
 (24, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (25, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (26, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (27, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (28, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (29, u'Amneris', None, u'2017-02-21', u'Freezer', 0),
 (30, u'Amneris', None, u'2017-01-22', u'Freezer', 0),
 (31, u'Amneris', None, u'2017-01-22', u'Freezer', 0),
 (32, u'Amneris', None, u'2017-01-22', u'Freezer', 0),
 (33, u'Amneris', None, u'2017-01-24', u'Freezer', 0),
 (34, u'Amneris', None, u'2017-01-21', u'Freezer', 0),
 (35, u'Amneris', None, u'2017-01-21', u'Freezer', 0),
 (36, u'Amneris', None, u'2017-01-21', u'Freezer', 0),
 (37, u'Tango', None, u'2016-12-21', u'Freezer', 0),
 (38, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (39, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (40, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (41, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (42, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (43, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (44, u'Berliner', None, u'2017-02-22', u'Delivered', 0),
 (45, u'Berliner', None, u'2017-02-23', u'Delivered', 0),
 (46, u'Berliner', None, u'2017-02-23', u'Freezer', 1),
 (48, u'Almond delight', None, u'2017-02-21', u'Freezer', 0),
 (49, u'Almond delight', None, u'2017-02-21', u'Freezer', 0),
 (50, u'Nut ring', None, u'2017-02-12', u'asdghkskajd', 0)]

In [17]:
%%sql
-- Connect the oldest produced Berliner to Order id 101 (5 pallets of Berliner)--
UPDATE Pallet
set order_id = 103
WHERE cookie_name = 'Berliner' AND order_id IS NULL AND is_blocked IS NOT 1
order by production_date desc
limit 1

Done.

[]

# Stuff - Pallets

In [71]:
%%sql
-- A list of pallet by cookie type between two dates
SELECT *
FROM Pallet
WHERE cookie_name = 'Berliner' AND
production_date BETWEEN "2017-01-01" AND "2017-02-23"

Done.

[(42, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (43, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (44, u'Berliner', None, u'2017-02-22', u'Delivered', 0),
 (45, u'Berliner', None, u'2017-02-23', u'Delivered', 0),
 (46, u'Berliner', None, u'2017-02-23', u'Freezer', 1)]

In [18]:
%%sql
-- Create a pallet, connected to a unspecific order --
INSERT INTO Pallet (cookie_name, order_id, production_date, location, is_blocked)
VALUES ('Nut ring', NULL ,'2017-02-12', 'asdghkskajd', NULL);

Done.

[]

In [58]:
%%sql
-- Show all entries of Berliner--
SELECT * 
FROM Pallet
WHERE cookie_name = 'Berliner'

Done.

[(42, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (43, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (44, u'Berliner', None, u'2017-02-22', u'Delivered', 0),
 (45, u'Berliner', None, u'2017-02-23', u'Delivered', 0),
 (46, u'Berliner', None, u'2017-02-23', u'Freezer', 1),
 (47, u'Berliner', 103, u'2017-02-24', u'Freezer', 1)]

In [48]:
%%sql
-- Unlock all panels
UPDATE Pallet
set is_blocked = 0

50 rows affected.

[]

In [53]:
%%sql
-- set delivered
UPDATE Pallet
set location = 'Delivered'
WHERE pallet_id = 45

1 rows affected.

[]

In [64]:
%%sql
-- Show number of Berliner that are unconnected that are not blocked--
SELECT COUNT(*) 
FROM Pallet
WHERE cookie_name = 'Berliner' AND order_id IS NULL AND is_blocked = 0

Done.

[(2,)]

In [66]:
%%sql
-- Show number of Berliner left to produce for roder 103 --
SELECT COUNT(*) - (SELECT COUNT(*) FROM Pallet WHERE order_id = 103 AND cookie_name = 'Berliner' AND is_blocked IS NOT 1) as Val
FROM Pallet
WHERE Pallet.cookie_name = 'Berliner' AND Pallet.order_id IS NULL AND is_blocked = 0

Done.

[(2,)]

# Uppdatera lagret med råvaror

In [28]:
%%sql
SELECT * 
FROM Ingredient

Done.

[(u'Flour', 500000.0, u'g', u'2017-03-20'),
 (u'Butter', 486500.0, u'g', u'2017-03-20'),
 (u'Icing sugar', 500000.0, u'g', u'2017-03-20'),
 (u'Roasted, chopped nuts', 500000.0, u'g', u'2017-03-20'),
 (u'Fine-ground nuts', 500000.0, u'g', u'2017-03-20'),
 (u'Ground, roasted nuts', 500000.0, u'g', u'2017-03-20'),
 (u'Bread crumbs', 500000.0, u'g', u'2017-03-20'),
 (u'Sugar', 500000.0, u'g', u'2017-03-20'),
 (u'Egg whites', 500000.0, u'dl', u'2017-03-20'),
 (u'Chocolate', 497300.0, u'g', u'2017-03-20'),
 (u'Marzipan', 500000.0, u'g', u'2017-03-20'),
 (u'Eggs', 499730.0, u'g', u'2017-03-20'),
 (u'Potato starch', 500000.0, u'g', u'2017-03-20'),
 (u'Wheat flour', 500000.0, u'g', u'2017-03-20'),
 (u'Sodium bicarbonate', 500000.0, u'g', u'2017-03-20'),
 (u'Vanilla', 500000.0, u'g', u'2017-03-20'),
 (u'Chopped almonds', 500000.0, u'g', u'2017-03-20'),
 (u'Cinnamon', 500000.0, u'g', u'2017-03-20'),
 (u'Vanilla sugar', 500000.0, u'g', u'2017-03-20')]

In [129]:
%%sql
-- Fill the database with values
UPDATE Ingredient
set amount = 500000, refill_date = "2017-03-19" --DATE()
--WHERE ingredient_name = 'Butter'

Done.

[]

In [26]:
%%sql
-- Get ingredients needed for a cookie
SELECT ingredient_name, amount*54 as 'amount for pallet'
FROM RecipeItems
Where cookie_name = 'Berliner'

Done.

[(u'Flour', 18900.0),
 (u'Butter', 13500.0),
 (u'Icing sugar', 5400.0),
 (u'Eggs', 270.0),
 (u'Vanilla sugar', 270.0),
 (u'Chocolate', 2700.0)]

In [108]:
%%sql
-- Reduce the ingredient stock version 1
-- TODO: replace 1 with 54*amount of a ingredient
UPDATE Ingredient
set amount = amount - 1
WHERE ingredient_name = 'Butter'

Done.

[]

In [67]:
%%sql
-- Reduce ingredient stock version 2
UPDATE Ingredient
       set amount = CASE
            WHEN ingredient_name = 'Butter' THEN amount - 54*(SELECT amount from RecipeItems WHERE cookie_name = 'Berliner' AND ingredient_name = 'Butter')
            WHEN ingredient_name = 'Eggs' THEN amount - 54*(SELECT amount from RecipeItems WHERE cookie_name = 'Berliner' AND ingredient_name = 'Eggs')
            WHEN ingredient_name = 'Chocolate' THEN amount - 54*(SELECT amount from RecipeItems WHERE cookie_name = 'Berliner' AND ingredient_name = 'Chocolate')
            ELSE amount END

Done.

[]

# Oh no, the cookie Berliner is infected by a terrible worm! Ach nein!

In [57]:
%%sql
-- Block all pallets between two dates
UPDATE Pallet
    set is_blocked = CASE WHEN cookie_name = 'Berliner' AND location IS NOT 'Delivered' AND production_date BETWEEN "2016-01-01" AND "2018-01-01"  THEN 1
    ELSE is_blocked END

Done.

[]

# Loading Order
Customer 1 name, adress, # of pallets of cookie a, # pallets of cookie b

# Listor att exportera

In [74]:
%%sql
-- Pallar producerade mellan två datum
SELECT * 
FROM PALLET
WHERE production_date BETWEEN "2016-01-01" AND "2017-02-23"

Done.

[(2, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (3, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (4, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (5, u'Nut ring', None, u'2017-01-24', u'Freezer', 0),
 (6, u'Nut ring', None, u'2017-01-21', u'Freezer', 0),
 (7, u'Nut ring', None, u'2017-01-21', u'Freezer', 0),
 (8, u'Nut ring', None, u'2017-01-21', u'Freezer', 0),
 (9, u'Nut ring', None, u'2016-12-21', u'Freezer', 0),
 (10, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (11, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (12, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (13, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (14, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (15, u'Nut ring', None, u'2017-02-21', u'Freezer', 0),
 (16, u'Nut ring', None, u'2017-01-22', u'Freezer', 0),
 (17, u'Nut cookie', None, u'2017-01-22', u'Freezer', 0),
 (18, u'Nut cookie', None, u'2017-01-22', u'Freezer', 0),
 (19, u'Nut cookie', None, u'2017-01-24', u'Freezer', 0),
 (20, u'Nut cookie', None, u'2017-01-21', u'Freezer', 0),
 (21, u'Nut cookie', None, u'2017-01-21', u'Freezer', 0),
 (22, u'Nut cookie', None, u'2017-01-21', u'Freezer', 0),
 (23, u'Nut cookie', None, u'2016-12-21', u'Freezer', 0),
 (24, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (25, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (26, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (27, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (28, u'Nut cookie', None, u'2017-02-21', u'Freezer', 0),
 (29, u'Amneris', None, u'2017-02-21', u'Freezer', 0),
 (30, u'Amneris', None, u'2017-01-22', u'Freezer', 0),
 (31, u'Amneris', None, u'2017-01-22', u'Freezer', 0),
 (32, u'Amneris', None, u'2017-01-22', u'Freezer', 0),
 (33, u'Amneris', None, u'2017-01-24', u'Freezer', 0),
 (34, u'Amneris', None, u'2017-01-21', u'Freezer', 0),
 (35, u'Amneris', None, u'2017-01-21', u'Freezer', 0),
 (36, u'Amneris', None, u'2017-01-21', u'Freezer', 0),
 (37, u'Tango', None, u'2016-12-21', u'Freezer', 0),
 (38, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (39, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (40, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (41, u'Tango', None, u'2017-02-21', u'Freezer', 0),
 (42, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (43, u'Berliner', None, u'2017-02-21', u'Freezer', 1),
 (44, u'Berliner', None, u'2017-02-22', u'Delivered', 0),
 (45, u'Berliner', None, u'2017-02-23', u'Delivered', 0),
 (46, u'Berliner', None, u'2017-02-23', u'Freezer', 1),
 (48, u'Almond delight', None, u'2017-02-21', u'Freezer', 0),
 (49, u'Almond delight', None, u'2017-02-21', u'Freezer', 0),
 (50, u'Nut ring', None, u'2017-02-12', u'asdghkskajd', 0)]